footer {
    bottom: 0;
    right: 0;
    width: 100%;
    padding: 10px 20px;
}
main{
    flex: 1;
}
.container-footer {
    text-align: right;
}
body{
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}
#cppy {
    text-shadow: 0cqi;
}